<% layout('layout') -%>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p><%= message %></p>
  <hr>
  <a class="btn btn-outline-secondary" href="/">Go home</a>
</div>
